<ul class="index">
  <% @articles.each do |article| %>
    <li class="item"><%= link_to article.title, article_path(article) %></li>
    <div class="content"><%= article.content %></div>
  <% end %>
</ul>
